@function get-button-text-color($color) {

    $color-type: get-button-color-type($color);

    @if $color-type == "dark" {
        @return #fff;
    } @else {
        @return #333;
    }
}

@function get-button-text-shadow-color($color) {

    $color-type: get-button-color-type($color);

    @if $color-type == "dark" {
        @return #333;
    } @else {
        @return #fff;
    }
}

@function get-button-color-type($color) {
    @return if( yiq-contrast-color($color, #000, #fff) == #fff, "dark", "light" );
}

@function get-button-hover-color($color) {
    $color-adjust: if(get-button-color-type($color) == "dark", 5, -5);
    @return adjust-color($color, $lightness: $color-adjust);
}

@function photoshop-drop-shadow ($angle: $photoshop-global-light, $distance: 0, $spread: 0, $size: 0, $color: #000) {
  @return photoshop-shadow($angle, $distance, $spread, $size, $color);
}

@function photoshop-inner-shadow ($angle: $photoshop-global-light, $distance: 0, $spread: 0, $size: 0, $color: #000) {
  @return photoshop-shadow($angle, $distance, $spread, $size, $color, true);
}